@import"./utilities/variables";
@import"./layout/header";
@import"./layout/main";
@import"./layout/sliders";
@import"./layout/_aviation_urban_style";
@import"./layout/productos_categorias";
@import"./layout/banners";
@import"./layout/footer";
@import"./layout/galeria";
@import"./layout/comunidad";
@import"./layout/contacto";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-margin-block: str-index($string: "", $substring: "s");
}
#normal{
    position: relative;
}

html{
    scroll-behavior: smooth ;
}

.preloader{
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $negro;
    z-index: 1000;
    img{
        width: 150px;
    }
}

.subir{
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.558);
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    background-image: url(../assets/img/altimetro_subir.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 47px;
    transition: 0.5s;
    z-index: 997;
    img{
        opacity: 0.6;
        transform: rotate(180deg);

    }
}
.subir:hover{
    background-color: $blanco;
}
.subir:hover img{
    transform: rotate(540deg);
    transition: 1.5s;
    opacity: 1;

}


/* @MEDIA QUERIES INICIA */
@media only screen and (min-width: 426px){

    header{
        .marquesina{
            font-size: 10px;
            img{
                width: 11px;
            }
        }
        .flex_contenedor_padre{
            padding: 40px;
        }
        .hamburguesa{
            display: inline-block;
            img{
                height: 20px;
                display: inline-block;
            }
        }
        .logo{
            width: 125px;
        }
        
        .lupa_carrito{
            height: 25px;
            width: 50px;
            img{
                height: 25px;
            }
        }
    }

    #cuadro1{
        background-position: -80px;
        padding: 20px 40px;

    }

    #cuadro2{
        background-position: -410px;
        padding: 20px 40px;

    }
    #cuadro3{
        background-position: -300px;
        padding: 20px 40px;

    }
    section{
        .grid_container_productos{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    
    .banners_secundarios{
        padding: 20px 40px;
        background-position: -120px;
    }
    main.galeria{
        padding: 35px;
    }
    main{
        .banner_comunidad{
            padding: 20px 40px;
            background-position: -410px;
        }
    }
    main.contacto{
        padding: 35px;
        .encabezado_contacto{
        height: 100px;
        }
    }
    }

    .shipping{
        justify-content: space-between;
        padding: 40px;
    }

    .logo_footer{
        justify-content: space-between;
        padding: 40px;
    }
    .empresa_footer{
        padding: 40px;
    }
    .contenido_ayuda{
        padding: 40px;
        justify-content: space-between;
    }


@media only screen and (min-width: 498px){

    header{
        .marquesina{
            font-size: 10px;
            img{
                width: 11px;
            }
        }
    }

    #cuadro1{
        background-position: -50px;
        padding: 20px 60px;

    }

    #cuadro2{
        background-position: -400px;
        padding: 20px 60px;

    }
    #cuadro3{
        background-position: -300px;
        padding: 20px 60px;

    }
    section{
        .grid_container_productos{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    section{
        .grid_container_productos{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .banners_secundarios{
        background-position: -50px;
    }
    main.galeria{
        .grid_container_galerias{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    main{
        .banner_comunidad{
            padding: 20px 60px;
            background-position: -400px;
        }
    }
    .section1{
        div{
            p, p.right{
                padding: 0px 80px;
            }
            p.cuerpo{
                padding: 30px 80px;
            }
        }
        
    }
    .section2{
        .section2_encabezado{
            padding: 20px 40px;
        }

    }
    

    .bajada_nota{
        padding: 20px 40px;
    }
}


@media only screen and (min-width: 563px){

    #cuadro1{
        background-position: center;
        padding: 20px 60px;

    }

    #cuadro2{
        background-position: -380px;
        padding: 20px 60px;

    }
    #cuadro3{
        background-position: -200px;
        padding: 20px 60px;
    }
    .section1{
        div{
            p, p.right{
                padding: 0px 100px;
            }
            p.cuerpo{
                padding: 30px 80px;
            }
        }   
    }
    section{
        .grid_container_productos{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .banners_secundarios{
        background-position: center;
    }
    main.galeria{
        .encabezado_galeria{
            padding: 0px;
            margin-bottom: 10px;
        }
        .grid_container_galerias{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 0px;
            .shop_card{
                height: 260px;
                padding: 10px;
                border: 3px solid $blanco;
            }
        }
    }
    main{
        .banner_comunidad{
            padding: 20px 40px;
            background-position: -380px;
            }
        }
        main.contacto{
            padding: 35px;
            .encabezado_contacto{
            height: 100px;
            }
            form{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 15px;
                .caja1{
                    width: 200px;
                }
                .caja2{
                    width: 200px;
                    textarea{
                        height: 150px;
                    }
                    div{
                        text-align: left;
                    }
                }
            }
        }
    }
    


@media only screen and (min-width: 652px){

    #cuadro1{
        background-position: center;
        padding: 20px 100px;

    }

    #cuadro2{
        background-position: -330px;
        padding: 20px 100px;

    }
    #cuadro3{
        background-position: -170px;
        padding: 20px 100px;
    }

    main.galeria{
        .grid_container_galerias{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 5px;
            .shop_card{
                height: 260px;
                padding: 10px;
                border: 3px solid $blanco;
            }
        }
    }
    
    main{
        .banner_comunidad{
            padding: 20px 100px;
            background-position: -330px;
            }
        }
        main.contacto{
            padding: 35px;
            .encabezado_contacto{
            height: 100px;
            }
            form{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 15px;
                .caja1{
                    width: 250px;
                }
                .caja2{
                    width: 250px;
                    textarea{
                        height: 150px;
                    }
                    div{
                        text-align: left;
                    }
                }
            }
        }
    }


@media only screen and (min-width: 768px){

    #cuadro1{
        background-position: center;
        padding: 20px 120px;

    }

    #cuadro2{
        background-position: center;
        padding: 20px 120px;

    }
    #cuadro3{
        background-position: -70px;
        padding: 20px 120px;
    }
    main.mision{
        height: 500px;
        .mision_banner{
            video{
                height: 120%;
            }
        }
    }

    .section1{
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        padding:  0px 0px 0px 0px;

    }
    section{
        .grid_container_productos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    .section1{
        padding:  40px 40px 80px 40px;
        div{
            margin-top: 20px;

            .section1_encabezado{
                height: 40px;
                width: 100%;
                background-image: url(../assets/img/marco_titulo.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                h2{
                    @include titulos(0px, relative, 0px, 100%, $futuraExtBoldCondO, 18px, $negro);
                    text-align: center;
                    line-height: 40px;
                }
            }
            p, p.right{
                padding: 0px 80px;
            }
            p.cuerpo{
                padding: 30px 80px;
            }
        }   
    }
    .banners_secundarios{
        padding: 20px 120px;
        background-position: center;
    }
    
    main{
        .banner_comunidad{
            padding: 20px 120px;
            background-position: center;
        }
    }
    .section2{
        .section2_encabezado{
            padding: 20px 180px;
        }
    }
    section{
        .grid_container_comunidad{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 20px;
        }
    }
    .bajada_nota{
        padding: 20px 120px;
    }

    main.contacto{
        padding: 35px;
        .encabezado_contacto{
        height: 100px;
        margin-top: 20px;
        p{
            width: 80%;
        }
        }
        form{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 30px;
            padding: 15px;
            .caja1{
                width: 300px;
            }
            .caja2{
                width: 300px;
                textarea{
                    height: 150px;
                }
                div{
                    text-align: left;
                }
            }
        }
    }
    

.grid_container_footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.shipping{
justify-content: space-evenly;
padding: 20px;
}

.logo_footer{
align-items: flex-start;
justify-content: space-around;
padding: 20px;
border-bottom: none;
}
.empresa_footer{
padding: 20px 10px;
border-bottom: none;
justify-content: flex-start;
align-items: flex-start;
}
.empresa_footer p{
    font-size: 10px;
    }
.contenido_ayuda{
padding: 20px;
justify-content: space-around;
border-bottom: none;
}
h4{
    font-size: 13px;
}
}

@media only screen and (min-width: 1024px){
    header{
        height:90px;
        width: 100%;
        z-index: 98;
        position: absolute;
        //Nav inicia
        #io_menu{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            width: 100%;
            // background-color: rgba(255, 255, 255, 0.259);
            mix-blend-mode: difference;
            background-color: rgba(0, 0, 0, 0.098);
            padding: 20px;
    
            //show menu inicia
            .io_menu_movil{
                height: 40px;
                display: none;
                cursor: pointer;
                padding: 10px;
                img{
                    height: 100%;
                    display: inline-block;  
                }
            }
            // nav inicia
            #card_menu{
                height: auto;
                width: 100px;
                margin-top: -45px;
                margin-left: -20px;
                background-color: rgba(0, 0, 0, 0);
                z-index: 998;
                position: relative;
                display: inline-block;
                #desplegable{
                    height: 500px;
                    width: inherit;
                    background-color: rgba(0, 0, 0, 0);
                    z-index: 999;
                    position: absolute;
                    transform: translateX(0px);
                    
                    #hide_menu{
                        bottom: 10px;
                        right: 10px;
                        position: absolute;
                        mix-blend-mode: multiply;
                        display: none;
                        cursor: pointer;
                        img{
                            height: 100%;
                            text-align: left;
                            // mix-blend-mode: multiply;
                            display: inline-block;  
                        }
                    }
                    #estrella{
                        width: 100%;
                        vertical-align: middle;
                        margin-top: 40px;
                        margin-bottom: 55px;
                        display: none;
                        justify-content: center;
                        
                        img{
                            width: 45%;
                            display: none;
                        }
                    }
                    
                    ul{
                        display: flex;
                        li{
                            list-style: none;
                            border-top: 2px black;
                            line-height: 50px;
                            border-bottom: none;
                            cursor: pointer;
                            display: inline-block;
                            &:hover{
                                color: $negro;
                                display: block;
                                background-color: rgba(0, 0, 0, 0);
                            }
                            &:hover a{
                                color: $negro;
                            }
                            a{
                                text-decoration: none;
                                font-family: $futuraBO;
                                font-size: 14px;
                                margin-left: 20px;
        
                                color: rgba(0, 0, 0, 0.579);
                                mix-blend-mode: multiply;
                                transition: 0.5s;
                                
                            }
                        }
                    }           
                }
            }
            
            // logo inicia
            .logo{
                width: 120px;
                align-items: center;
                display: block;
                mix-blend-mode: multiply;
                position: relative;
                text-align: center;
                z-index: 98;
            }
            // logo finaliza
            .lupa_carrito{
                height: 40px;
                width: 60px;
                text-align: center;
                mix-blend-mode: multiply;
                display: flex;
                justify-content: flex-start;justify-content: flex-start;
                align-items: center;
                // background-color: antiquewhite;
                img{
                    height: 40px;
                    mix-blend-mode: multiply;
                    display: inline;
                    // background-color: aqua;
                    padding: 10px;
                }
            }
        }
        // nav finaliza
    }       
    .slider_container{
        width: 100%;
        align-items: center;
        height: 600px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    ul.slider_opacity li{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        display: none;
        width: inherit;
        height: inherit;
        transition: all 0.5s;
        h1{
            @include titulos(25px, relative, 100px, 300px, $futuraBO, 48px, $blanco);
        }  
    }
    .menu_slider{
        top: 560px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    #cuadro1{
        background-position: center;
        background-image: url(../assets/img/bannerprincipal.jpg);
        padding: 100px 200px;
        height: 600px;

    }

    #cuadro2{
        background-position: center;
        padding: 100px 200px;
        height: 600px;

    }
    #cuadro3{
        background-position: -70px;
        padding: 100px 200px;
        height: 600px;
    }
    main.mision{
        height: 600px;
        .mision_banner{
            video{
                height: 145%;
            }
        }
    }

    section{
        .grid_container_productos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
        
    .banners_secundarios{
        background-position: center;
        padding: 20px 200px;
    }
    main.galeria{
        padding: 60px;
        .grid_container_galerias{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 0px;
            .shop_card{
                height: 310px;
                padding: 10px;
                border: 3px solid $blanco;
                .mochila1-foto,
                .mochila2-foto,
                .bolso1-foto,
                .morral1-foto,
                .bolsov1-foto,
                .bolsov2-foto,
                .accesorio1-foto,
                .accesorio2-foto {
                width: 100%;
                height: 200px;
                background-color: $blanco;
            }
            }
        }
    }
    main{
        .banner_comunidad{
            padding: 60px 200px;
            background-position: center;
            h1{
                @include titulos(25px, relative, 100px, 400px, $futuraBO, 40px, $blanco);
            }
        }
    }

    section.comunidad{
        padding: 20px 200px;
    }

    section{
        .grid_container_comunidad{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 20px;
        }
    }

        .bajada_nota{
            padding: 20px 200px;
        }
    main.contacto{
        padding: 35px;
        .encabezado_contacto{
        height: 100px;
        margin-top: 20px;
        h1{
            @include titulos(0px, relative, 0px, 100%, $futuraHO, 22px, $negro);
            }
        p{
            width: 80%;
            font-size: 18px;
        }
        }
        form{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 30px;
            padding: 45px;
            .caja1{
                width: 350px;
            }
            .caja2{
                width: 350px;
                textarea{
                    height: 150px;
                }
                div{
                    text-align: left;
                }
            }
        }
    }
    footer{
        h4{
            font-size: 13px;
        }
    }
    .grid_container_footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .shipping{
    justify-content: space-evenly;
    padding: 20px;
    }

    .logo_footer{
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    border-bottom: none;
    }
    .empresa_footer{
    padding: 20px 10px;
    border-bottom: none;
    justify-content: flex-start;
    align-items: flex-start;
    }
    .empresa_footer p{
        font-size: 10px;
        }
    .contenido_ayuda{
    padding: 20px;
    justify-content: space-around;
    border-bottom: none;
    }
}

@media only screen and (min-width: 1680px){

    #cuadro1{
        background-position: center;
        background-image: url(../assets/img/bannerprincipal.jpg);
        padding: 100px 400px;
        height: 600px;

    }

    #cuadro2{
        background-position: center;
        padding: 100px 400px;
        height: 600px;

    }
    #cuadro3{
        background-position: center;
        padding: 100px 400px;
        height: 600px;
    }
    main.mision{
        height: 900px;
        .mision_banner{
            video{
                height: 250%;
            }
        }
    }
    main.galeria{
        padding: 60px;
        .grid_container_galerias{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 0px;
            .shop_card{
                height: 400px;
                padding: 10px;
                border: 3px solid $blanco;
                .mochila1-foto,
                .mochila2-foto,
                .bolso1-foto,
                .morral1-foto,
                .bolsov1-foto,
                .bolsov2-foto,
                .accesorio1-foto,
                .accesorio2-foto {
                width: 100%;
                height: 300px;
                background-color: $blanco;
            }
            }
        }
    }
}
/* @MEDIA QUERIES FINALIZA */
